@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<div class="jumbotron">
    <h4>ASP.NET Nebula code challenge for Data manipulation </h4>
    <p class="lead">I will playing around the csvthat have been provided as well as testing the Question option for replacing/Modifying email</p>

</div>
